*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
    background-image: url("libreriaFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.barra{
 background-color: rgba(138, 136, 136,0.4);
 width: 98%;
 margin: 1%; 
 border: outset 4px rgba(83, 182, 116, 0.8);
text-align: center;
}
.link{
    color: #fff;
    margin-left: 2%;
    margin-right: 2%;
}