*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
    background-image: url("libreriaFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.barra{
 background-color: rgba(138, 136, 136,0.4);
 width: 98%;
 margin: 1%; 
 border: outset 4px rgba(83, 182, 116, 0.8);
text-align: center;
}
.link{
    color: #fff;
    margin-left: 2%;
    margin-right: 2%;
}
.contenedor{
    text-align: center;
    background-color:tarsparent;
    width: 99%;
    border: solid 4px red;
    height: 530px;
    
}
.contenedorLibros{
    background-color: #fff;
    width: 29%;
    height: 490px;
    display: inline-flex;
    margin: 1%;
}
.contenedorAutores{
    background-color: #555;
    width: 29%;
    height: 490px;
    display: inline-flex;
    margin: 1%;
}
.ContenedorEditoriales{
    background-color:blue;
    width: 29%;
    height: 490px;
    display: inline-flex;
    margin: 1%;
    

}

h3{
    text-align: center;
    display: inline-flex;
    background-color: aqua;
   height: 20px;
   margin-left: auto;
    margin-right: auto;
}