<!DOCTYPE html>
<html lang="en">

<head th:fragment="head">
 
    <title>Cargar Libro</title>
    <link rel="stylesheet" href="cargarlibro.css" />
    <header th:replace="nav/nav.html"> </header>
    
</head>

<body>
    <div class="contenedor">
        <form action="cargarLibro" method="POST">
            <h2 class="titulo">Ingrese datos para cargar libro</h2>
            <div class="columnas">
                      
            <div  class="camposLibro">
                <b class="tituloCampo">isbn</b>
                <input class="campo" type="text" placeholder="ingrese isbn" name="isbn" />
            </div>
            <div  class="camposLibro">
                <b class="tituloCampo">titulo</b>
                <input class="campo" type="text" placeholder="ingrese titulo" name="titulo" />
            </div>
            <div  class="camposLibro">
                <b class="tituloCampo">añio</b>
                <input class="campo" type="text" placeholder="ingrese año" name="anio" />
            </div>
            <div  class="camposLibro">
                <b class="tituloCampo">ejemplares</b>
                <input class="campo" type="text" placeholder="ingrese ejemplares" name="ejemplares" />
            </div>
            <div  class="camposLibro">
                <b class="tituloCampo">ejemplares prestados</b>
                <input class="campo" type="text" placeholder="ingrese ejemplaresPrestados" name="ejemplaresPrestados" />
            </div >
            <div class="camposLibro">
                <b class="tituloCampo">ejemplares restantes</b>
                <input class="campo" type="text" placeholder="ingrese ejemplaresRestantes" name="ejemplaresRestantes" />
            </div>
            <div class="camposLibro">
                <b class="tituloCampo">Autores</b>
 				<select name="IdAutor">
 				<option th:each = "autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}" > </option>
 				</select>
            </div> 
                        <div class="camposLibro">
                <b class="tituloCampo">Autores</b>
 				<select name="IdEditorial">
 				<option th:each = "editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}" > </option>
 				</select>
            </div> 

            
        </div>
 
            <button class="agregar">Agregar</button>
        </form>
    </div>
</body>

</html>