<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cargarEditorial.css">
    <nav class="barra">
        <a  class="link" href="/">inicio</a>
        <a class="link" href="/cargarLibro">libro</a>
        <a class="link" href="/cargarEditorial">editorial</a>
    </nav>
</head>
<body>
   
    <div class="contenedor">
    <form action="cargarEditorial" method="POST">
        <h2 class="titulo">Ingrese nombre de la editorial a cargar</h2>
        <b class="tituloCampo">nombre</b>
        <input  class="campo" type="text" placeholder="ingrese nombre"  name="nombre">
    
        <button class="agregar">Agregar</button>
    </form>
</div>

</body>
</html>