<!DOCTYPE html>
<html lang="en">

<head th:fragment="head">
    <title>Cargar Autor</title>
    <link rel="stylesheet" th:href="@{/editarAutor.css}">
    <header th:replace="nav/nav.html"> </header>
</head>

<body>

    <div class="contenedor">
        <form th:action="@{/editarEditorial}" method="POST">
        <input type="hidden" name="id" th:value="${editorial.id}">

            <h2 class="titulo">Editar Editorial</h2>
            <div class="columnas">
                <b class="tituloCampo">nombre</b>
                <input class="campo" type="text" th:value="${editorial.nombre}" name="nombre">

        </div>
                <button class="agregar">Guardar</button>
            </div>
        </form>
    </div>

</body>

</html>