<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Inicio</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  
  <body>
   <header th:replace="nav/nav.html"> </header>
    <div class="contenedor">
      <div class="contenedorAutores">
        <h3>Autores</h3>
           <tr th:each="student: ${Editorial}">
       
        <td th:text="${student.nombre}" />
    </tr>
      </div>
      <div class="contenedorLibros">
        <h3>Libros</h3>
       </div>
      <div class="ContenedorEditoriales">
        <h3>Editorial</h3>
      </div>
    </div>
           
  </body>
</html>
