<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" t th:href="@{/icono.ico}">
</head>
<body>
    <header th:fragment="header">
        <nav class="barra">
            <a class="link" href="/">inicio</a>
            <a class="link" href="/cargarAutor">Cargar autor</a>
            <a class="link" href="/cargarEditorial">Cargar editorial</a>
            <a class="link" href="/cargarLibro">Cargar libro</a>
          
          </nav>
    </header>
</body>
</html>